{
  "plugins": [
    "inline-react-svg"
  ],
  "env": {
    "backend:dev": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-2"
      ]
    },
    "dev": {
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-2",
        "react"
      ]
    }
  }
}